<!-- Profile partial-->

<h1>This is the profile section</h1>

<% data.profile.students.each do |student| %>

  <section class="single_profile_section">
    <div class="profile_student_name">
      <%= student.name %>
    </div>

    <div class="profile_student_picture">
      <img src="<%= student.picture %>">
    </div>

    <div class="profile_student_info">
      <div class="profile_info_p_1">
        <%= student.info_p_1 %>
      </div>
      <div class="profile_info_p_2">
        <%= student.info_p_2 %>
      </div>
    </div>


    <div class="profile_quote">
      <%= student.quote %>
    </div>


    <div class="profile_student_links">
      <ul>
        <li>
          <a href="<%= student.link_portfolio %>">
            <i class="fa fa-external-link"></i>
            <i class="fa fa-external-link-square"></i>
          </a>
        </li>
        <li>
          <a href="<%= student.link_email %>">
            <i class="fa fa-envelope"></i>
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
        <li>
          <a href="<%= student.link_git %>">
            <i class="fa fa-github-alt"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="<%= student.link_linkedin %>">
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
        <li>
          <a href="<%= student.link_twitter %>">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="row">
      <section class="profile_project_section">
        <div class="col-sm-6 col-md-6 single_project_container profile_project_1">
          <div class="profile_project_image"><img src="<%= student.project_1_image %>"></div>
          <div class="profile_project_title"><%= student.project_1_title %></div>
          <div class="profile_project_info"><%= student.project_1_info %></div>
        </div><!-- col 6 close -->

        <div class="col-sm-6 col-md-6 single_project_container profile_project_2">
          <div class="project_image"><img src="<%= student.project_2_image %>"></div>
          <div class="profile_project_title"><%= student.project_2_title %></div>
          <div class="project_info"><%= student.project_2_info %></div>
        </div><!-- col 6 close -->
      </section><!-- profile_project_section close -->
    </div><!-- row close -->

  </section><!-- single_profile_section close -->

<% end %>